<ag-grid-angular
  #agGrid
  class="ag-dark"
  style="width: 100%; height: 945px;"
  [gridOptions]="gridOptions"
  [columnDefs]="columnDefs"
  [rowBuffer]="rowBuffer"
  
  [debug]="false"
  [rowHeight]="30"
  [animateRows]="true"
  [enableColResize]="true"
  [rowClassRules]="rowClassRules"
  
  [enableSorting]="true"
  [sortingOrder]="sortingOrder"

  [enableFilter]="true"

  [isExternalFilterPresent]="country"
  [doesExternalFilterPass]="doesExternalFilterPass"

  (isQuickFilterPresent)="query"

  (gridReady)="onGridReady($event)">
</ag-grid-angular>


<!-- infinite scroll
  [rowModelType]="rowModelType"
  [infiniteInitialRowCount]="infiniteInitialRowCount"
  [paginationPageSize]="paginationPageSize"
-->